.flex-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   list-style: none;

}

.flex-items{
    background-color: yellowgreen;
    margin: 10px;
    width: 200px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallary{
     background-color: yellowgreen;
    margin: 10px;
    width: 200px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}